.extension-sidebar {
  position: fixed; /*windowを基準に位置を決定する*/
  top: 0;
  right: 0;
  z-index: calc(infinity);
  width: 0;
  height: 100%;
  overflow-y: auto; /*あふれたときにスクロールバーを表示*/
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  background-color: white;
  text-align: center;
  transition: .5s;
}

div.extension-sidebar-open {
  width: 38vw;
  padding-right: 10px;
  padding-left: 30px;

  overflow-wrap: break-word;
}