#extension-sidebar-wrapper {
  position: fixed; /*windowを基準に位置を決定する*/
  top: 0;
  right: 0;
  z-index: calc(infinity);
  min-width: 0;
  max-width: 0;
  height: 100%;
  overflow-y: auto; /*あふれたときにスクロールバーを表示*/
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  text-align: center;
  transition: .5s;
}

#extension-sidebar {
  width: 100%;
  height: 100%;
}

div.extension-sidebar-open {
  min-width: 38vw !important;
  max-width: none !important;

  overflow-wrap: break-word;
}
